*,::before , ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    display: grid;
    height: 100vh;
    background-image: url('./assets/gradient2.jpeg');
    background-size: cover;
    /* You can also use flex in place of grid and use justify content and align items */
    place-items: center;
}

.gameInfo{
    position: absolute;
    color: rgb(255, 33, 88);
    top: 3rem;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(255, 255, 255 , 0.15);
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255 , 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;

}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgb(255, 255, 255 , 0.15);
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255 , 0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* TO make it in square shape */
    aspect-ratio: 1/1; 
    
}

.box{
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    align-items: center;
    justify-content: center;
}

.box1,.box2,.box4,.box5,.box7,.box8 {
    border-right: 1px solid white;
}

.box1,.box2,.box3,.box4,.box5,.box6{
    border-bottom: 1px solid white;
}

.btn{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255 , 0.25);
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255 , 0.18);
    padding: 0.5rem 3rem;
    text-align: center;
    color: green;
    cursor: pointer;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%);
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 600;

}

.btn.active{
    display: flex;
}

.win{
    background-color: green;
}

